<a href="https://colab.research.google.com/github/pdthang26/Artificial-Intellignece-ST7-1234/blob/main/Crabs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np


url = "/content/crabs.csv"
data = pd.read_csv(url)
data.head()

  speies sex  index  fontallip  rearwidth  length  width  depth
0      B   M      1        8.1        6.7    16.1   19.0    7.0
1      B   M      2        8.8        7.7    18.1   20.8    7.4
2      B   M      3        9.2        7.8    19.0   22.4    7.7
3      B   M      4        9.6        7.9    20.1   23.1    8.2
4      B   M      5        9.8        8.0    20.3   23.0    8.2

In [54]:
data['speies']=data['speies'].replace({"B":1,"O":0})
data['sex']=data['sex'].replace({"F":1,"M":0})

In [55]:
from sklearn import datasets
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [56]:
X= data.loc[:,['index','speies','fontallip','rearwidth','length','width','depth' ]]
y=data['sex']

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

sc=StandardScaler()
sc.fit(X_train)

X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [78]:
model = Perceptron(max_iter=1000, eta0 =0.1, random_state=0 )

model.fit(X_train_std,y_train)
y_pred = model.predict(X_test_std)
print(y_pred[:5])
print(y_test[:5])
print("Accuracy when we scale", accuracy_score(y_test,y_pred))

[0 1 1 1 1]
118    0
63     1
90     1
190    1
193    1
Name: sex, dtype: int64
Accuracy when we scale 0.9666666666666667